@font-face{
    font-family: oswald;
    src:url(../Oswald/Oswald-VariableFont_wght.ttf)
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*beggin of nav*/
nav{
    background-color:black ;
}
nav a{
    color: white;
    background-color: black;
    display: inline-block;
    padding: 10px 15px;
}
nav a:hover{
    background-color:rgb(156, 145, 145);
    color: black;
}
.last{
    float:right;
}
/*beggin of section*/
h1 h2 p{
    font-family: oswald;
}
.textsec{
    text-align: center;
    padding: 50px 0px;
}
.textsec h1{
    font-family: oswald;
    font-size: 45px;
    font-weight: 900px;
}
.textsec p{
    font-family: oswald;
    padding: 20px 0px;
}
.textsec p span{
    font-family: oswald;
    background-color: black;
    color: white;
    padding: 0px 5px;
}
/*beggin of header*/
header{
    position: relative;
}
header section{
    position: absolute;
    top:30% ;
    left: 50px;
    color: white;
    text-align: left;
}
header section h1{
    font-size: 60px;
    padding: 10px;
    letter-spacing: 3px;
}
header section h3{
    font-size: 45px;
    letter-spacing: 3px;
    margin: 16px;
}
header section button{
    padding: 25px;
    background-color: rgba(159,159,159,0.4);
    margin: 16px;
    border: none;
    font-weight: bold;
}
header section button:hover{
    background-color: rgba(159,159,159,0.8) ;
}
/*beggin of main*/
main{

}
main #leftside{
    display: inline-block;
    float: left;
    width: 70%;
    background-color: #F1F1F1;
    padding: 20px;
}
main #leftside article{
    background-color: white;
    padding: 20px;
    margin: 20px 0px;
}
main #leftside article h2{
    text-align: center;
}
main #leftside article #hpar{
    text-align: center;
    padding: 20px 0px;
}
main #leftside article span{
    color: gray;
}
main #leftside article .par{
font-family: "Open sans";
text-align: left;
text-align: justify;
font-size: 18px;
}
main #leftside article span{
    font-weight:bold;
    color: black;
}
main #leftside article .buttonsdiv{
    padding: 20px;
}
main #leftside article .liked{
    float:left;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px;
    color: black;
    font-weight: bold;
}
main #leftside article .liked:hover{
    background-color: gray;
    border-color: gray;
}
main #leftside article .repl{
    float:right;
    background-color: black;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
}
main #leftside article .repl:hover{
    background-color: gray;
    color: rgb(0, 0, 0);
}
main #leftside article .repl span{
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0px 5px;
}
main #leftside article .articlefooter{
    padding: 20px 0px;
}
main #leftside article .line{
    border-bottom: 1px solid rgb(187,184, 184);
    padding: 20px;
}
main #leftside article .imgd{
    float:left;
    width: 10%;
}
main #leftside article .texted{
    float:right;
    width: 90%;
    display: inline-block;
}
main #leftside article .texted{
    text-align: left;
    padding: 10px 30px;
}
main #rightside{
    display: inline-block;
    float: right;
    width: 30%;
    background-color: #F1F1F1;
    padding: 20px;
}
main #rightside #girlsection{
    padding: 20px 0px;
}
main #rightside #girlsection div{
    background-color: black;
    color: white;
    padding: 15px;
    margin-top: -8px;
}
main #rightside #girlsection p {
    padding-bottom: 15px;
    font-family: "Open sans";
}
main #rightside article{
    margin-bottom: 20px;
}
main #rightside article .articleheading{
    background-color: black;
    color: white;
    padding: 20px;
}
main #rightside article .articlebody{
    background-color: white;
    height: auto;
    overflow: auto;
}
main #rightside article .b1 .articledes{
    padding: 10px;
}
main #rightside article .b1 .articledes .imgdes{
    float: left;
    width: 15%;
}
main #rightside article .b1 .articledes .textdes{
    float: right;
    width: 85%;
    padding: 0px 20px;
}
main #rightside article .textdes:hover{
    background-color: #ccc;
}
main #rightside article .b2{
    padding: 20px;
}
main #rightside article .b2 p {
    text-align: center;
    background-color: #ccc ; 
    padding: 40px 20px;
}
main #rightside article .b3 span{
    background-color: #ccc;
    margin: 10px 5px;
    display: inline-block;
    padding: 0px 5px;
}
main #rightside article .b3 .firspan{
    background-color: black;
    color: white;
}
main #rightside article .b4{
    padding: 10px;
}
main #rightside article .b4 img{
    display: inline-block;
    padding: 5px;
}
main #rightside article .b5{
    padding: 20px;
    font-size: 25px;
}
main #rightside article .b5 :hover{
    color: gray;
}
main #rightside article .b6 {
    padding: 20px;
}
main #rightside article .b6 form{

}
main #rightside article .b6 form label{
    display: block;
    width: 100%;
}
main #rightside article .b6 input{
    display: block;
    width: 100%;
    margin: 15px 0px;
    padding: 10px;
}
main #rightside article .b6 form button{
    display: block;
    width: 100%;
    background-color: rgb(244,67,54);
    color: white;
    padding: 10px;
    border: none;
}
main #rightside article .b6 form button:hover{
    background-color: gray;
}
.clear{
    clear: both;
    content:"";
}
.cl{
    clear: both;
    content:"";
}
/*beggin of footer*/
footer{
    background-color: rgb(97,97,97);
    color: white;
    padding: 30px;
}
footer button{
    background-color: black;
    color: white;
    padding: 20px;
    border: none;
}
footer p{
    font-family: opensans;
    padding: 40px 0px;
    font-size: 18px;
}
footer p button{
    color: white;
}
@media screen and (max-width: 600px) {

    .imagediv .position{
       
        top: 50px;
        
        
    
    }
   
    .imagediv .position h1{
        font-size: 50px;
       
    }

    main #leftside,main #rightside{
      
        width: 100%;
        float: none;
      
    
    }
    
@media screen and (max-width: 600px) {

    .imagediv .position{
       
        top: 50px;
        
        
    
    }
   
    .imagediv .position h1{
        font-size: 50px;
       
    }

    main #leftside,main #rightside{
      
        width: 100%;
        float: none;
      
    
    }
}
@media screen and (max-width: 600px){
    header section{
        top: 20%;
    }
    header section h1{
        font-size: 40px;
    }
    header section h3{
        font-size: 30px;
    }
}

}